* {
  box-sizing: border-box;
}

/********************* Body ************************************/

body {
  padding-top: 30px;
}

.hr1 {
  border: 1px grey dashed;
  margin-top: 30px;
  width: 65%;
}


.imgsection {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.imgsection img{
  width: 30%;
}




/********************* /Body ************************************/
/********************* Header ************************************/

header{
  /*width:100%;*/
  /*display: flex;*/
}


a {
  font-size: 20px;
  font-family: cursive;
  padding-left: 60px;
}

nav a:hover {
  color: red;
  text-decoration: none;
}

nav a {
  color: grey;
}

h1 {
  text-align: center;
  padding-top: 50px;
  font-family: cursive;
}


.navigation {
    display: flex;
    justify-content: center;
    width: 100%;
}

/********************* /Header ************************************/

/********************* Footer ************************************/

footer {
  height: 80px;
  background-color: lightgrey;
  border-top: 1px dashed grey;
}
/********************* /Footer ************************************/
